<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container-min">
    <h1>家計簿アプリ ログイン</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="error-message">
          {% for msg in messages %}
            <div>{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="post">
      <input type="email" name="email" placeholder="メールアドレス" required>
      <br>
      <input type="password" name="password" placeholder="パスワード" required>
      <br>
      <button type="submit">ログイン</button><br>
      <a href="/register">ユーザー登録をする</a>
    </form>
  </div>
</body>
</html>
